<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Aula 1 Ionic | Exercício 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Digite a nota da AC" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="AC"></ion-input>

  <ion-input label="Digite a nota da Avaliação Geral" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="AG"></ion-input>

  <ion-input label="Digite a nota da Avaliação Trimestral" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="AT"></ion-input>

  <ion-button expand="block" color="warning" (click)="media()">Calcular Média</ion-button>

  <ion-label>Resultado: <strong>{{res}}</strong></ion-label>
</ion-content>
