<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Aula 1 Ionic | Calculadora Simples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
        <ion-input label="Digite o primeiro número" labelPlacement="floating" placeholder="Apenas números"></ion-input>

        <ion-input label="Digite o segundo número" labelPlacement="floating" placeholder="Apenas números"></ion-input>

        <ion-button expand="block" color="warning">Calcular Soma</ion-button>
</ion-content>
