<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Aula 1 Ionic | Exercício 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-input label="Digite o valor em dólar" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="dollar"></ion-input>

    <ion-button expand="block" color="warning" (click)="converter()">Converter valor</ion-button>

    <ion-label>Valor em Reais: <strong>{{real}}</strong></ion-label>
</ion-content>
